$primary: #2c7fff;
$gray: #6c757d;
$gray-1: #8695AE;
$gray-2: #707070;

$p-20: #e7f0ff;
$p-30: #d0e2ff;
$p-40: #b8d4ff;
$p-50: #a1c6ff;
$p-60: #89b7ff;
$p-70: #72a9ff;
$p-80: #5a9bff;
$p-90: #438dff;

$secondary-1: #8d5aff;
$secondary-2: #df5858;
$secondary-3: #ffad05;
$secondary-4: #5eae5f;
$secondary-5: #ffaffd;
$secondary-6: #60f2ff;

$text-color: #0d264c;
$black-shade: #343a40;
$snow-white: #f8f9fa;
$white: #ffffff;

$error: #de0220;
$success: #17ab4d;
$warning: #d7800f;
$info: #5bc0de;

$black-1: #000;
$black-2: #1D1B1B;

$blue-1: #0E254B;
$blue-2: #2D94F3;
$blue-3: #245ACA;
$blue-4: #142549;
$blue-5: #4D92EC;
$blue-6: #007DF2;
$blue-7: #E9F4FE;
$blue-8: #D9EDFF;

$required: #C70000;