@import 'styles';

.container {
  @include flex(column, flex-start, unset);
  text-align: left;
  label {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    color: rgba($blue-1, 0.5);
    margin-bottom: 8px;
  }
  .input_container {
    position: relative;
    input {
      border: 2px solid rgba($blue-4, 0.25);
      border-radius: 8px;
      padding: 1.125rem 1.375rem;
      width: 31.25rem;
      font-size: 1rem;
      transition: 0.1s ease-in-out;
      &::placeholder {
        color: rgba($gray-2, 0.75);
      }
      &:focus {
        border-color: $blue-2;
        box-shadow: 0 3px 15px rgba($blue-2, 0.078);
        & + .close {
          display: block;
        }
      }
      &:active {
        border-color: $blue-5;
        & + .close {
          display: block;
        }
      }
    }
    .close {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      display: none;
      background-color: transparent;
      border: none;
      filter: invert(46%) sepia(11%) saturate(356%) hue-rotate(167deg) brightness(96%) contrast(87%);
    }
  }
  .helperText {
    font-size: 0.75rem;
    color: rgba($gray-2, 0.75);
    margin-top: 8px;
  }
  .required_label::after{
    content: "*";
    margin-left: 4px;
    font-size: 1rem;
    color: $required;
    padding-bottom: 9px;
    line-height: 0;
  }
}